# General
# --------
/.env
/.idea
.DS_Store
/node_modules
/public/uploads/*
!/public/uploads/.gitkeep
/public/jitter
/_compiled
/_css
/storage/*
!/storage/.gitkeep
/audits
.editorconfig

# Public
# --------
/vendor
/public/assets
/public/broadcaster-worker.min.js
/public/resources-cachebust.json
/config/pwa-auto.php
/public/service-worker.js