# General
# --------
/.env
.DS_Store
./node_modules
/public/uploads/*
!/public/uploads/.gitkeep
/public/jitter
/_css
/storage/*
!/storage/.gitkeep
.editorconfig
web_modules

# Remove before release
# --------
/vendor
/public/js
/public/css
/config/license.key
/public/service-worker-assets.js
