connection-checker {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--grey-900);
	border: 1px solid var(--grey-800);
	box-shadow: var(--shadow-xl);
	border-radius: 0.5rem;
	width: 90vw;
	max-width: 620px;
	padding: 1rem;
	z-index: 1000;
	display: none;

	p {
		color: var(--white);
		line-height: 1.618;
		display: block;
		margin-bottom: 0.5rem;
		text-align: justify;
	}
}
