<connection-checker web-component loading="eager" required-connection="slow-2g" css="connection-checker buttons">
    <p>{{ "We've noticed you're on a mobile connection and viewing the lite version of this site. Switch to the full experience?"|t }}</p>
    <div class="block w-full text-right">
        <button class="js-lite button -outline -white mr-1">{{ "Continue Lite"|t }}</button>
        <button class="js-full button -outline -white">{{ "Use Full"|t }}</button>
    </div>
</connection-checker>