{% set image = data.image[0] %}
{% set transformedImage = craft.jitter.transformImage(image, { w: 320, ar: "16:9" }) %}
{% set image = craft.jitter.srcset(image, [
    { w: 320, ar: "16:9" },
    { w: 425, ar: "16:9" },
    { w: 768, ar: "16:9" },
    { w: 1024, ar: "16:9" }
]) %}

<section class="block w-full">
    <lazy-image css="image-block">
        <img 
            src="{{ transformedImage }}" 
            srcset="{{ image }}" 
            alt="{{ data.image[0].description }}" 
            loading="lazy" 
            width="320"
            style="opacity:0;transition: opacity 300ms ease-out;"
            onload="this.onload=null;this.style.opacity='1';" 
        />
    </lazy-image>
    {% if data.briefCopy|length %}
        <image-cite>{{ data.briefCopy }}</image-cite>
    {% endif %}
</section>