<div class="block w-full" style="padding-top:{{ data.gap }}rem;" block="{{ data.uid }}"></div>
{% if data.gap > 8 %}
    <style>
        @media (max-width: 768px){
            [block="{{ data.uid }}"]{
                padding-top: {{ data.gap / 2 }}rem !important;
            }
        }
    </style>
{% endif %}