:root
{
    --font: #333;
    --background: #fff;

    --loading-bar: #00BFFF;
    --loading-bar-shadow: rgba(0, 191, 255, 0.87);
    --loading-bar-background: #eee;
    --loading-background: #fafafa;
    --loading-font: #333;

    @media (prefers-color-scheme: dark)
    {
        --loading-font: #fff;
        --loading-bar-background: #454545;
        --loading-background: #232323;
    }
}
