<header>
    <nav>
        <a href="{{ siteUrl }}">{{ "Home"|t }}</a>
        <div>
            <a target="_blank" href="https://jintmethod.dev/">{{ "JINT Methodology"|t }}</a>
            <a target="_blank" href="https://github.com/Pageworks/djinnjs">{{ "DJINN Framework"|t }}</a>
        </div>
    </nav>
</header>