.rich-text {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: block;
		line-height: 1.375;
		margin-bottom: 1.5rem;
	}

	h1 {
		font-size: var(--font-3xl);
	}

	h2 {
		font-size: var(--font-2xl);
	}

	h3 {
		font-size: var(--font-xl);
	}

	h4 {
		font-size: var(--font-lg);
	}

	h5 {
		font-size: var(--font-md);
	}

	h6 {
		font-weight: var(--font-base);
	}

	p {
		display: block;
		line-height: 1.618;
		margin-bottom: 1.5rem;

		a {
			color: var(--primary-700);
			transition: all 150ms var(--ease-in-out);

			&:hover,
			&:focus {
				text-decoration: underline;
				color: var(--primary-600);
			}

			&:active {
				color: var(--primary-800);
			}
		}
	}

	ul,
	ol {
		display: block;
		margin-bottom: 1.5rem;
	}

	*:last-child {
		margin-bottom: 0;
	}
}
